$body-background-color: #F8F8F8;
$footer-background-color: $body-background-color;
$primary: #FE7C00;

@charset "utf-8";
@import "~bulma/bulma";

.section {
  padding-top: 0;

  .content {
    padding-top: 2rem;
  }
}

.has-around-padding {
  padding: 0 15px;
}
